:root {
  --sn-stylekit-background-color: #ffffff;
  --sn-stylekit-foreground-color: #111111;
  --sn-stylekit-border-color: #777777;

  --sn-stylekit-secondary-background-color: #f2f2f2;
  --sn-stylekit-secondary-foreground-color: #111111;
  --sn-stylekit-secondary-border-color: #888888;

  --sn-stylekit-contrast-background-color: #111111;
  --sn-stylekit-contrast-foreground-color: #ffffff;
  --sn-stylekit-contrast-border-color: #111111;

  --sn-stylekit-secondary-contrast-background-color: #dddddd;
  --sn-stylekit-secondary-contrast-foreground-color: #000000;
  --sn-stylekit-secondary-contrast-border-color: #777777;

  --sn-stylekit-info-color: #333333;
  --sn-stylekit-info-contrast-color: #ffffff;
  --sn-stylekit-neutral-color: #555555;
  --sn-stylekit-neutral-contrast-color: #ffffff;
  --sn-stylekit-success-color: #222222;
  --sn-stylekit-success-contrast-color: #ffffff;
  --sn-stylekit-warning-color: #444444;
  --sn-stylekit-warning-contrast-color: #ffffff;
  --sn-stylekit-danger-color: #000000;
  --sn-stylekit-danger-contrast-color: #ffffff;

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);
  --sn-stylekit-paragraph-text-color: var(--sn-stylekit-foreground-color);

  --sn-component-background-color: var(--sn-stylekit-background-color);
  --sn-component-foreground-color: var(--sn-stylekit-foreground-color);
  --sn-component-outer-border-color: var(--sn-stylekit-border-color);
  --sn-component-inner-border-color: var(--sn-stylekit-border-color);

  --sn-desktop-titlebar-bg-color: var(--sn-stylekit-background-color);
  --sn-desktop-titlebar-border-color: var(--sn-stylekit-border-color);
  --sn-desktop-titlebar-ui-color: var(--sn-stylekit-foreground-color);
}
